In [1]:
import pandas

In [2]:
df1 = pandas.read_excel("HeroAcheiver.xlsx", sheet_name = 0)

In [5]:
df1

,Bike Name,Price,Helmet+Helmet Lock,Purchase Expense,Service Expense,Fuel Expense,Total Expense,Mileage
0,Hero Achiever,69959,1140,71099,1943,14443.87,87485.87,51 Kmpl